<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>y</title>

    <link href="{{static_url('css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{static_url('css/bootstrap-theme.min.css')}}" rel="stylesheet">
    <link href="{{static_url('css/bootstrap-toggle.min.css')}}" rel="stylesheet">
    <link href="{{static_url('css/jquery-ui.css')}}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    {% block css %}
    {% endblock %}
  </head>
  <body>
    {% block nav_top %}
    {% include "base/top_nav.html" %}
    {% endblock %}
    {% block body %}
    {% endblock %}
    <!-- 在html中，你还是需要写（下面三行）
     （在tornado的源代码中，执行xsrf_form_html()
     会调用set_cookie('_xsrf')），这样在cookie中就会有_xsrf值了，
     用上面说得方法带上去就行了。-->
    {% autoescape false %}
    {{ xsrf_form_html() }}
    {% endautoescape %}
    <script src="{{static_url('js/jquery-1.11.1.min.js')}}"></script>
    <script src="{{static_url('js/bootstrap.min.js')}}"></script>
    <script src="{{ static_url('js/y.js') }}"></script>
    {%block js%}
    {%endblock%}

  </body>
</html>
