{% extends "base.html" %}
{% block css %}
{% endblock %}
{% block body %}
    <div class="panel panel-default">
        <div class="panel-body">

             <div class="row" style="margin-bottom: 8px">
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="username" autocomplete="off" placeholder="用户名"/>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-8">
                    <input type="password" class="form-control" id="password" autocomplete="off" placeholder="密码"/>
                </div>
                <div class="col-sm-4">
                    <button class="btn btn-primary" id="login">登录</button>
                </div>
            </div>



        </div>
    </div>

{% endblock %}
{% block js %}
<script src="{{ static_url('js/sha1.js') }}"></script>
<script>
function hash(str, salt) {
    return CryptoJS.SHA1(str + '|' + salt).toString(CryptoJS.enc.Hex).slice(0, 16);
}

var url = window.location.pathname;
function login() {
    var username = $('#username').val();
    var pwd = $('#password').val();
    var password = hash(pwd, username);
     y.post(url, {'username': username, 'password': password}, function (data) {
         window.location.href = data['url'];
    })
}

$('#login').click(function (e) {
    login();
});

$(document).keydown(function (e) {
    if (e.keyCode == 13){
        login();
    }
});
</script>
{% endblock %}